<style>
    body {
        background-color: rgba(233,233,233, 0.05);
    }
    .bodyDiv {
        background-color: none;
    }
    .headerRow {
        background-color: rgb(80,170,80);
        color: white;
    }
</style>

<div class="row content">
    <br/>
    <div ng-show="error">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 col-xs-12">
                <div style="margin-top:15px;margin-bottom:15px;border-radius:5px;background-color:rgba(222,33,33,0.3);padding:6px;text-align:center;">
                    {{error}}
                </div>
            </div>
        </div>
    </div>
	<div class="row questionRow">
		<div class="col-xs-12" style="text-align:center;">
			You need to check and re-encrypt your information to reset your password.
		</div>
	</div>
    <br/>
	<div class="row questionRow" ng-repeat="question in questions">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <select ng-model="question.options[0]" ng-options="q for q in question.options" style="padding: 3px;margin-bottom: 8px;width:99%;" ng-class="{'error' : error}"></select>
                <div ng-if="question.selection == 'Other'">
                    <input type="text" placeholder="Type your own question"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-sm-offset-4">
                <b>{{question.label}}</b>
            </div>
            <div class="col-sm-2">
                <input ng-model="question.value" type="text">
            </div>
        </div>
    </div>
    <div class="row questionRow">
    	<div class="col-xs-4">
    	</div>
		<div class="col-xs-4" style="text-align:center;">
			<input ng-model="pin" type="password" style="max-width:80px;text-align:center;" ng-class="{'error' : error}" placeholder="Your PIN">
		</div>
	</div>
	<div class="row questionRow">
		<div class="row">
			<div class="col-sm-2 col-sm-offset-4 col-xs-4">
				<b>New Password</b>
			</div>
			<div class="col-sm-2 col-xs-8">
				<input type="password" ng-model="nPass" style="width:100%;text-align:center;" placeholder="Your new password"/>
			</div>
		</div>
	</div>
    <div style="text-align:center;">
		<button style="padding:4px 10px;margin:4px 10px;" class="btn btn-success" ng-click="newPassword()">
	    	Reset
		</button>
	</div>
</div>