<!-- <div class="">
    <div class="row" style="background-color:rgba(86,143,160,1);min-height:30px;"> -->
       <!--  <div class="col-sm-2 col-xs-0"></div>
        <div ng-repeat="page in pages" ng-click="switchPage(page.name)" class="col-sm-2 col-xs-3 pageTab" ng-class="{'active':current_page==page.name}">
            <img src="{{page.img}}" style="height:100%;">
            <div style="text-align:center;">{{page.name}}</div>
        </div> -->
<!--     </div>
</div> -->
<style>
    body {
        background-color: rgba(233,233,233, 0.05);
    }
    .bodyDiv {
        background-color: none;
    }
    .headerRow {
        background-color: rgba(80,170,80,1);
        color: white;
    }
    .content {
        position: absolute;
    }
</style>

<div class="content" ng-if="$parent.pageReset">
        
        <div style="float:left;width:100%;height:100%;">
            <div class="sideCol" ng-if="ui.feed.length>0 && false">
                <div>
                    <div id="chartContainer" style="height:250px;width:100%;margin-left:-10%;"></div>
                </div>
            </div>
            <div class="contactsBox col-sm-3 col-xs-5">
                <h4 style="text-align:center;">Contacts</h4>
                <div class="contacts">
                    <div ng-if="contactsExist">
                        <div ng-repeat="ct in contacts" ng-if="ct.id != user.id" class="contact" ng-click="openSend(ct)">
                            <img ng-src="{{::(ct.avatar || defaultAvatar)}}" class="avatar" style="width:40px;height:40px;margin:3px;float:left;"/>
                            <div style="font-size:95%;padding:12px 0 0 6px;float:left;">
                                {{::(ct.name || ct.email.slice(0,16)+'..')}}
                            </div>
                        </div>
                    </div>
                    <div ng-if="!contactsExist" style="margin-top:10px;padding:10px;font-size:110%;text-align:center;">
                        <br>
                        You don't have any contacts yet.
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-7" style="float:left;line-height:1.1;border-right: 1px solid #ddd;">
                <div class="profile">
                    <div ng-if="user.avatar">
                        <img class="avatar" ng-src="{{user.avatar}}" style="margin:6px;"/>
                    </div>
                    <div ng-if="user.username">{{user.username}}</div>
                    <div class="fullName" ng-if="user.name">{{user.name}} {{::user.sirname}}</div>
                    <div style="font-size:90%;" ng-if="user.email">{{::user.email}}</div>
                    <div style="font-size:80%;" ng-if="user.phone">{{::user.phone}}</div>
                    <div class="balanceBox">{{ui.balance}} BTC</div>
                    <div class="toolBox" style="margin-top:25px;margin-bottom:40px;float:left;width:100%;">
                        <div ng-click="openSend()">
                         SEND
                        </div>
                        <div>
                            <div ng-show="!newAddress" ng-click="openReceive()">
                                DEPOSIT
                            </div>
                            <div ng-if="newAddress == true">
                                Getting new address...
                            </div>
                            <div class="newAddress" ng-if="newAddress && newAddress != true">
                                {{::newAddress}}
                            </div>
                            <div class="addressMenu" ng-if="newAddress && newAddress != true">
                                <div ng-click="showQR()">Show QR</div>
                                <div clip-copy="newAddress">Copy</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12" style="float:left;height:100%;">
                <h4 style="text-align:center;">Coin Feed</h4>
                <div ng-if="ui.feed.length == 0" style="margin-top:10px;padding:10px;font-size:120%;text-align:center;">
                    <br>
                    You don't have any transactions yet.
                </div>
                <div class='feed' ng-if="ui.feed.length > 0">
                    <div class="txContainer" ng-repeat="tx in ui.feed" ng-click="showTransaction(tx)" ng-class="{'txHover': tx.hover, 'tx-out': tx.sent, 'tx-in': !tx.sent}" ng-if="!tx.change">
                        <div class="txHead" ng-class="tx.sent? 'tx-out': 'tx-in'">
                            <div class="tx-left">
                                <img ng-src="{{::tx.avatar}}" class="avatar" style="width:100%;height:auto;"/>
                            </div>
                            <div class="tx-middle">
                                <div class="emphasize">
                                    {{::tx.text}}
                                </div>
                                <div class="subtext">
                                    {{::tx.message}}
                                </div>
                            </div>
                            <div class="tx-right">
                                <div class="tx-date">
                                    {{::tx.note}}
                                </div>
                                <div class="tx-amount" ng-class="tx.sent? 'tx-out': 'tx-in'">
                                    {{tx.sent?"-":"+"}}{{::tx.btcAmount}}
                                </div>
                            </div>
                        </div>
                    </div>
                     <div ng-if="ui.feed.length==0" style="min-height:200px;text-align:center;font-size:120%;">
                        <br><br>
                        <div class="" style="padding:5px;">
                            A new wallet!
                        </div>
                        <div class="" style="padding:5px;">
                            You have no transaction yet.
                        </div>
                    </div>
                </div> 
            </div>
            
        </div>
       
    <div style="clear: both;height:10px;"></div>
</div>

<!-- NEW TRANSACTION BOX -->
<div class="newTx" ng-show="newTransaction.length > 0">
    <div ng-repeat="txmsg in newTransaction">
        {{txmsg}} 
    </div>
</div>

<!-- BACKGROUND DIM -->
<div style="position:fixed;top:0;left:0;width:100%;height:100%;border-radius:4px;box-shadow:0 0 1px 1px #000;background:rgba(0,0,0,0.5);" ng-show="showDim()" ng-click="closeModals()">
</div>


<!-- QR BOX -->
<div class="qr modal" ng-show="modals['qr'] && newAddress && newAddress != true">
    <div id="qrcode">
    </div>
    <div style="font-weight:600;font-size:140%;margin-top:10px;">
        {{newAddress}}
    </div>
</div>

<!-- RECEIVE MODAL -->
<div class='receive modal' ng-if="modals['receive']">
    <div ng-show="modals['receive'] != true">
        {{modals['receive']}}
    </div>
    <div ng-show="modals['receive'] == true">
        Getting new address
    </div>
</div>

<!-- COLLECTIVE MODAL -->
<div class='collective modal' ng-if="modals['collective']">
    <h3>
        START A COLLECTIVE
    </h3>
    <div style="padding:5px 0 15px 0; font-size:80%;">
        To begin collecting bitcoins for a campaign or a common event
    </div>
    <div>
        <div>
            What is the headline?
        </div>
        <div>
            <textarea cols="40" rows="3" ng-model="collective.subject" type="text" class="sendFormRow" placeholder="Write your message to the receiver" ng-class="{'error' : invalid['sendMessage']}" style="height:90px;"></textarea>
        </div>
        <div>
            Description
        </div>
        <div>
            <textarea cols="40" rows="3" ng-model="collective.message" type="text" class="sendFormRow" placeholder="Write your message to the receiver" ng-class="{'error' : invalid['sendMessage']}" style="height:90px;"></textarea>
        </div>
    </div>
</div>

<!-- SEND MODAL -->
<div class='send modal' ng-if="modals['send']">
    <div class='sendFormPart' ng-show="send.step==1">
        <div ng-if="send.toUser.id" style="margin-bottom:12px">
            <div style="float:left;margin-right:15px;margin-left:10px;">
                <img ng-src="{{send.toUser.avatar}}" ng-if="send.toUser.avatar" class="avatar" style="width:28px;height:28px;"/>
            </div>
            <div style="float:left;line-height:29px">
                {{send.toUser.name? send.toUser.name : send.toUser.email}}
            </div>
            <div style="float:right;line-height:29px;margin-right:6px;" ng-if="send.amount">
                {{send.amount}} BTC
            </div>
        </div>
        <input type="text" ng-change="send.typing()" class="sendFormRow" ng-model="send.toUser.email" style="width:100%;margin-bottom:0;" ng-click="send.typeResult=false" ng-keydown="send.selectTypeResult($event)" placeholder="{{::msg.sendToPlaceholder.translate()}}" ng-class="{'error' : invalid['sendToAddress']}"/>
        <div class="typeahead" ng-show="send.typeResult">
            <div ng-repeat="res in send.typeResult" class="typeItem" ng-class="{'typeItemFocus' : res.selected}" ng-click="send.selectEmail(res)">
                <div style="float:left;margin-right:15px;margin-left:5px;">
                    <img ng-src="{{res.avatar}}" ng-if="res.avatar" class="avatar" style="width:28px;height:28px;margin-bottom:0;"/>
                </div>
                <div style="float:left;line-height:29px">
                    {{res.name? res.name : res.email}}
                </div>
            </div>
        </div>
        <input id="send.amount" ng-model="send.amount" type="text" class="sendFormRow" placeholder="Amount to send" ng-class="{'error' : invalid['sendAmount']}">
        
        <div style="text-align:center;margin-top:5px;">
            <button class="btn btn-primary" style="padding:4px 30px;" ng-click="send.check()">Next</button>
        </div>
    </div>
    <div class='sendFormPart' ng-show="send.step==2">
        <div ng-if="send.toUser.id" style="margin-bottom:12px;float:left;width:100%;">
            <div style="float:left;margin-right:15px;margin-left:10px;">
                <img ng-src="{{send.toUser.avatar}}" ng-if="send.toUser.avatar" class="avatar" style="width:28px;height:28px;"/>
            </div>
            <div style="float:left;line-height:29px">
                {{send.toUser.name? send.toUser.name : send.toUser.email}}
            </div>
            <div style="float:right;line-height:29px;margin-right:6px;" ng-if="send.amount">
                {{send.amount}} BTC
            </div>
        </div>
        <div style="text-align:center;margin-bottom:6px;">
            Would you like to convey a message along?
        </div>
        <textarea cols="40" rows="2" id="sendMessage" ng-model="send.message" type="text" class="sendFormRow" placeholder="Write your message to the receiver" ng-class="{'error' : invalid['sendMessage']}" style="height:60px;resize:vertical;"></textarea>
        <div style="text-align:center;margin-top:5px;">
            <button class="btn btn-warning" style="padding:4px 30px;" ng-click="send.step=1;">Go Back</button>
            <button class="btn btn-primary" style="padding:4px 30px;" ng-click="send.checkMessage()">Send</button>
        </div>
    </div>

    <div class='sendFormPart' ng-show="send.step==3">
        <div ng-if="send.toUser.id" style="margin-bottom:12px;float:left;width:100%;">
            <div style="float:left;margin-right:15px;">
                <img ng-src="{{send.toUser.avatar}}" ng-if="send.toUser.avatar" class="avatar" style="width:28px;height:28px;"/>
            </div>
            <div style="float:left;line-height:29px">
                {{send.toUser.name? send.toUser.name : send.toUser.email}}
            </div>
            <div style="float:right;line-height:29px;margin-right:6px;" ng-if="send.amount">
                {{send.amount}} BTC
            </div>
        </div>
        <div ng-if="!send.success">
            <div style="text-align:center;margin-bottom:6px;">
                You are sending {{send.amount}} BTC with a calculated fee of {{send.tx.fee}} BTC.<br/>
                Are you sure? 
            </div>
            <input id="pin" ng-model="send.walletPIN" type="password" class="sendFormRow" placeholder="Wallet PIN" ng-class="{'error' : invalid['pin']}">
        </div>
        <div ng-if="send.error" style="text-align:center;font-weight:600;font-size:18px;color:red;">
            Could not send: {{send.error}}
        </div>
        <div ng-if="send.success" style="text-align:center;font-weight:600;font-size:18px;color:green;">
            Successfully sent
        </div>
        <div ng-if="!send.error" style="height:3px;background:green;width:{{send.progress()}}%;"></div>
        <div style="text-align:center;margin-top:5px;">
            <button ng-if="!send.success || send.error" class="btn btn-warning" style="padding:4px 30px;" ng-click="send.step=1;">Go Back</button>
            <button ng-if="!send.success && !send.error" class="btn btn-success" style="padding:4px 30px;" ng-click="send.send()">Approve</button>
            <button ng-if="send.success || send.error" class="btn btn-success" style="padding:4px 30px;" ng-click="closeModals()">Close</button>
        </div>
    </div>
</div>

<!-- TRANSACTION DETAILS MODAL -->
<div class="txDetails" ng-if="modals['transaction']">
    <div class="head" ng-show="::txDetails.label">
        <div style="float:left;">{{::txDetails.label}}</div>
        <div style="float:right;">{{::txDetails.date}}</div>
    </div>
    <div class="txDetailRow">
        <div style="float:left;width:35%;">
            {{::msg.tx.id}}
        </div>
        <div style="float:left;width:65%;font-weight:400;">
            <div class="displayText" ng-show="!showTxid" ng-click="showTxid=true">
                Display
            </div>
            <a href="https://blockchain.info/tx/{{::txDetails.txid}}" target="_blank" class="txHash" ng-show="showTxid">
                {{::txDetails.txid}}
            </a>
        </div>
    </div>
    <div class="txDetailRow">
        <div style="float:left;width:35%;">
            {{::msg.tx.amount}}
        </div>
        <div style="float:left;width:65%;font-weight:400;">
            {{::txDetails.amount}} BTC
        </div>
    </div>
    <div class="txDetailRow" ng-if="txDetails.fee > 0">
        <div style="float:left;width:35%;">
            {{::msg.tx.fee}}
        </div>
        <div style="float:left;width:65%;font-weight:400;">
            {{::txDetails.fee}} BTC
        </div>
    </div>
    <div ng-if="txDetails.sender" class="txDetailRow">
        <div style="float:left;width:35%;">
            Sender
        </div>
        <div style="float:left;width:65%;font-weight:400;">
            {{::txDetails.sender}}
        </div>
    </div>
    <div ng-if="txDetails.receiver" class="txDetailRow">
        <div style="float:left;width:35%;">
            Receiver
        </div>
        <div style="float:left;width:65%;font-weight:400;">
            {{::txDetails.receiver}}
        </div>
    </div>
    <div class="txDetailRow" ng-if="txDetails.message">
        <div style="float:left;width:35%;">
            Text Attached
        </div>
        <div style="float:left;width:65%;font-weight:400;">
            <div class="displayText" ng-show="!showMsg" ng-click="showMsg=true">
                Display
            </div>
            <div ng-show="showMsg" ng-click="showMsg=false">
                {{::txDetails.message}}
            </div>
        </div>
    </div>
    <div class="txDetailRow" style="margin-top: -25px;font-size: 11px;margin-bottom: -15px;font-weight: 500;" ng-show="::txDetails.confirmed">
        <div style="float:right;">
            <img src="/static/img/confirmed-2.png" style="width:14px;height:14px;margin:4px;margin-right:-4px;"/>
        </div>
        <div style="float:right;margin-top: 4px;">
        {{::msg.tx.confirmed}}
        </div>
    </div>
    <!-- <div class="txDetailRow">
        <div style="float:left;width:40%;">
            {{::msg.tx.fee}}
        </div>
        <div style="float:left;width:60%;font-weight:400;">
            {{::txDetails.fee}}
        </div>
    </div> -->
</div>
