<p style="font-size:14px;">Congratulations!</p>
<p>
    You are about to sign up for the most secure Bitcoin wallet around. Click the big button below to activate your account.<br/>
</p>
<p style="text-align:center;">
	<a href="${data['link']}" style="cursor:pointer;"><button style="cursor:pointer;padding: 12px 25px;border-radius: 6px;font-size: 16px;
  background-color: #f18f40;box-shadow: 0px 0px 5px 2px #4cb inset;margin-top: 20px;border: none;color: #E8F0F0;">Sign Up!</button></a>
</p>
<p>
	If the button above doesn't work you can continue your wallet registration here:<br>
	${data['link']}
</p>