<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Coinvoy Online Payment Processor">
        <meta name="author" content="alpdeniz">
        <link rel="shortcut icon" href="static/img/favicon.ico">

        <title>Coinvoy - Sorry! Page not found.</title>

        <!-- Bootstrap core CSS -->
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body style="text-align:center;background-color: rgba(66,190,190,0.5);padding:100px 50px;margin:20px 10%;">
        <h2> Coinvoy </h2>
        <h4><b>
            Sorry :( Requested page cannot be found.
        </b></h4>
        <p>
            If you think there is a problem, please let us know by sending an email to <b>support@coinvoy.net</b>
        </p>
    </body>
</html>